* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;  
    overflow: hidden; 
} 

.container {
    max-width: 855px;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    padding: 30px 0px;
}

.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.about__container {
    display: flex;
}

.about__info {
    padding-right: 19%;
}

.about__title {
    margin-bottom: 40px;
}

.about__avatar {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-posts {
    background: #EDF7FA;
    padding: 27px 0px 32px;
    color: #21243D;
}

.recent-posts__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.recent-posts__articles {
    display: flex;
}

.recent-posts__article {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 21px 30px 23px;
    margin-right: 2%;
}

.recent-posts__article:last-child {
    margin-right: 0px;
}

.separator {
    margin: 0px 26px;
}
