* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3 {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: 855px;
    margin: 0 auto;
    padding: 0 5px;
}

.header {
    padding: 30px 0px;
}

.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    margin-left: 33px;
}

.nav__link {}

.header__burger {
    width: 30px;
    height: 20px;
    display: none;
    align-items: center;
}

.header__burger-el {
    height: 2px;
    width: 100%;
    background-color: #21243D;
    position: relative;
}

.header__burger-el::before,
.header__burger-el::after {
    height: 2px;
    width: 100%;
    background-color: #21243D;
    position: absolute;
}

.header__burger-el::before {
    content: "";
    top: -8px;
}

.header__burger-el::after {
    content: "";
    top: 8px;
}

.nav__list {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 480px) {
    .header {
        padding-top: 20px;
    }

    .nav {
        display: none;
    }

    .header__burger {
        display: flex;
        margin-right: 18px;
    }
}

.about__container {
    display: flex;
}

.about__info {
    padding-right: 19%;
}

.about__title {
    margin-bottom: 40px;
}

.about__avatar {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 480px) {
    .about__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .about__info {
        padding: 0 24px;
    }

    .about__avatar {
        width: 170px;
        height: 170px;
    }
}

.recent-posts {
    background: #EDF7FA;
    padding: 27px 0px 32px;
    color: #21243D;
}

.recent-posts__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.recent-posts__articles {
    display: flex;
}

.recent-posts__article {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 21px 30px 23px;
    margin-right: 2%;
}

.recent-posts__article:last-child {
    margin-right: 0px;
}

@media (max-width: 480px) {
    .recent-posts__top {
        justify-content: center;
    }

    .recent-posts__link {
        display: none;
    }

    .recent-posts__articles {
        flex-direction: column;
        padding: 0 5px;
    }

    .recent-posts__article {
        margin-right: 0;
        margin-bottom: 17px;
    }
}

.separator {
    margin: 0px 26px;
}

.work {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding: 35px 0;
}

.work__img-wrap {
    max-width: 246px;
    max-height: 180px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 6px;
}

.work__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work__subtitle {
    display: flex;
}

.work__date {
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    padding: 5px 10px;
}

@media (max-width: 480px) {
    .featured {
        padding: 25px 0px 100px;
    }

    .featured__works {
        display: flex;
        overflow: auto;
        padding: 0px 13px;
    }

    .work {
        padding-top: 25px;
        flex-direction: column;
        flex: 0 0 100%;
        margin-right: 18px;
        max-width: 339px;
    }

    .work:last-child {
        margin-right: 0;
    }

    .work__img-wrap {
        max-width: 100%;
        max-height: 230px;
    }
}

.footer {
    padding: 51px 0px 54px;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
}

.social__item {
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.vk {
    background-image: url(../img/icons/vk.png);
}

.telegram {
    background-image: url(../img/icons/telegram.png);
}

.github {
    background-image: url(../img/icons/github.png);
}

.in {
    background-image: url(../img/icons/Linkedin.png);
}